<div class="topnav" id="myTopnav">
    <a href="/user/<%=result.username%> " class="active">Home</a>
    <a href="#service">Service</a>
    <a href="#contact">Contact</a>
    <a href="/user/<%= result.username %>/logout ">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>