<div class="topnav" id="myTopnav">
    <a href="/home" class="active">Home</a>
    <a href="#service">Service</a>
    <a href="#contact">Contact</a>
    <a href="/user/login">Login</a>
    <a href="/user/register">Register</a>
    <a href="#become">Become Partner</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>